div.main {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}
.navBar {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  align-items: center;
}
.navLinks {
  border: 3px solid black;
  display: flex;
  justify-content: space-evenly;
}
a {
  padding: 15px;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}
a:hover {
  background-color: aqua;
  transition: 1600ms;
}
.loginBox {
  align-self: center;
  margin-top: 25vh;
  border: 2px solid black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.loginBox > fieldset {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}
button {
  width: 10vw;
}
.routineBox {
  display: flex;
  border: 2px solid black;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 5px;
}
h1 {
  margin-left: 10px;
  margin-bottom: 0px;
}
.activityBox {
  border-top: 2px solid black;
  text-align: left;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: normal;
}
.routineInfo {
  padding: 10px;
  flex-basis: 15%;
}
.allActivities {
  flex-basis: 70%;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-left: 2px solid black;
}
p {
  margin-left: 10px;
  flex-basis: 10%;
}
.activity {
  margin: 10px;
  border: 2px solid purple;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
}
.activity:hover {
  background-color: violet;
  cursor: pointer;
}
.activityDesc {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}
.singleActivity {
  display: block;
}
.newRoutineForm {
  border: 2px solid black;
  padding: 5px;
}
input {
  margin: 10px;
}
#errorMessageBox {
  display: none;
  border: 2px solid black;
  position: absolute;
  background-color: aliceblue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}
.innerError {
  border: 3px solid red;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
}
.fa-sign-out {
  font-size: 24x;
  text-align: center;
  align-self: center;
}
#logout {
  flex-basis: 10%;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  text-align: center;
}
#logout:hover {
  background-color: aqua;
  transition: 1600ms;
  cursor: pointer;
}
.loginOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 10px;
}
.userOwnPost {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid black;
  margin-bottom: 5px;
  padding-top: 5px;
}
.newActivityForm {
  min-height: 100px;
  border: 2px solid black;
}
